/* Adds background colors to transparent images
Usage: ![[image.jpg|bg-white]]
*/

.internal-embed[alt*='bg-white'] > :first-child {
  background-color: white;
}

.internal-embed[alt*='bg-black'] > :first-child {
  background-color: black;
}
