/* Gives <blockquote> elements (ex. for Twitter embeds) a similar style to quote callouts */

.cm-embed-block:has(blockquote) {
  --callout-color: var(--callout-quote);
  border-width: var(--callout-border-width);
  border-style: solid;
  border-color: rgba(var(--callout-color), var(--callout-border-opacity));
  border-radius: var(--callout-radius);
  background-color: rgba(var(--callout-color), 0.1);
  mix-blend-mode: var(--callout-blend-mode);
}

blockquote.twitter-tweet {
  margin: var(--callout-padding);
}
