/* Puts inline titles in a rounded box */

.inline-title {
  margin-bottom: var(--size-4-6);
  padding: var(--size-4-2);
  border: var(--size-2-1) solid transparent !important;
  border-radius: var(--size-2-3);
  background-color: var(--code-background);
  color: var(--code-normal);
  text-align: center;
  font-size: var(--font-text-size);
  transition-duration: 0.1s;
  transition-property: background-color, border-color;
}

.inline-title:focus {
  border-color: var(--code-background);
  background-color: transparent;
}
