/* undo weird callout styles from Shiba Inu theme */

.callout[data-callout='quote'] {
  max-width: none;
}

.callout[data-callout='quote'] .callout-title .callout-title-inner {
  display: block;
}

.callout[data-callout='quote'] .callout-content p,
.callout[data-callout='quote'] .callout-content p:last-child {
  color: inherit;
  text-align: left;
  font-style: normal;
}
