/* Puts inline titles in a rounded box */

.inline-title {
  margin-bottom: 24px;
  padding-top: 8px;
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: var(--code-background);
  color: var(--code-normal);
  text-align: center;
  font-size: var(--font-text-size);
  transition-duration: 0.1s;
  transition-property: background-color, border-color;
}

.inline-title:focus {
  border-color: var(--code-background);
  background-color: transparent;
}
