/* Style <blockquote> elements (ex. for Twitter embeds) similar to quote callouts */

blockquote {
  --callout-color: var(--callout-quote);
  margin: 0;
  padding: var(--callout-padding);
  @container style(--callout-padding: 0) {
    padding: var(--callout-content-padding);
  }
  border-width: var(--callout-border-width);
  border-style: solid;
  border-color: rgba(var(--callout-color), var(--callout-border-opacity));
  border-radius: var(--callout-radius);
  background-color: rgba(var(--callout-color), 0.1);
  mix-blend-mode: var(--callout-blend-mode);

  & p:first-child {
    margin-block-start: 0;
  }
}
