/* Put the properties in editor in a rounded box */

.markdown-source-view {
  .metadata-container {
    padding: var(--size-4-2);
    border-radius: var(--size-2-3);
    background-color: var(--code-background);
    transform: none;
  }

  .metadata-properties-heading {
    display: flex;
    &.is-collapsed {
      margin-bottom: 0;
    }
  }

  .metadata-properties-heading .collapse-indicator {
    display: none;
    /* position: relative;
    left: 0;
    margin-left: 2px;
    opacity: 1; */
  }

  .metadata-properties-title {
    position: relative;
  }

  .metadata-container:not([data-property-count='0'])
    + .cm-contentContainer
    .cm-line:not(.cm-line ~ .cm-line):has(br:first-child:last-child) {
    /* hide the blank line below the properties section */
    display: none;
  }
}
