/* Makes it easier to edit paths to embedded media by forcing the media onto a new line */

.markdown-source-view.mod-cm6 .cm-line.cm-active .internal-embed.image-embed {
	display: block;
}

.markdown-source-view.mod-cm6 .cm-line.cm-active .internal-embed.image-embed ~ br {
	display: none;
}

.markdown-source-view.mod-cm6 .internal-embed {
	vertical-align: top;
}