.workspace
  .mod-root
  .workspace-tab-header
  .workspace-tab-header-inner-close-button,
.workspace
  .mod-root
  .workspace-tab-header.is-active
  .workspace-tab-header-inner-close-button {
  opacity: 0;
  transition: opacity 0.2s;
}

.workspace
  .mod-root
  .workspace-tab-header:hover
  .workspace-tab-header-inner-close-button {
  opacity: 1;
}
