/* Wrap long file names in the file explorer */

body {
	--nav-item-white-space: wrap;
}

.nav-file-title-content {
	display: flex;
}

.nav-file-title-content::before {
	flex-shrink: 0;
	display: block !important;
}